
.da-arrows{
    -moz-user-select: none;
    -webkit-user-select: none;
}
.da-arrows span{

    position: absolute;
    top: 60%;
    cursor: pointer;
    z-index: 2000;
    opacity: 1;
    height:60px;
    width:60px;
    -webkit-transition: opacity 0.4s ease-in-out-out 0.1s;
    -moz-transition: opacity 0.4s ease-in-out-out 0.1s;
    -o-transition: opacity 0.4s ease-in-out-out 0.1s;
    -ms-transition: opacity 0.4s ease-in-out-out 0.1s;
    transition: opacity 0.4s ease-in-out-out 0.1s;
}
.da-arrows-prev{
    background: url(../img/sprite.png) no-repeat 0px 0px;
    background-color: #02B3E9;
}
.da-arrows-next{
    background: url(../img/sprite.png) no-repeat -80px 0px;
    background-color: #02B3E9;
}
.da-arrows:hover .da-arrows span{
    opacity: 1;
}
.da-arrows span.da-arrows-next:after{
    background-position: top right;
}
.da-arrows span.da-arrows-prev{
    left: 15px;
}
.da-arrows span.da-arrows-next{
    right: 400px;
}
.row{
    position: relative;
}
#toTop,#fixed-btn{
    position: fixed;
    text-decoration: none;
    right: 10px;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
}
#toTop {
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: none;
    bottom: 50px;
    background: url(../img/top.png) no-repeat right top;
}

#fixed-btn{
    right:5px;
    display: block;
    bottom:10px;
    background: url(../img/qrcode.png) no-repeat right top;
    background-size: contain;
    cursor: pointer;
}

#bigCode{
    display: none;
    position: fixed;
    width: 200px;
    height: 300px;
    text-indent: 100%;
    right:50px;
    bottom: 0;
    background: url(../img/weixin.jpg) no-repeat right top;
    background-size: contain;
    border:0;
}
