
.da-arrows{
    -moz-user-select: none;
    -webkit-user-select: none;
}
.da-arrows span{

    position: absolute;
    top: 60%;
    cursor: pointer;
    z-index: 2000;
    opacity: 1;
    height:60px;
    width:60px;
    -webkit-transition: opacity 0.4s ease-in-out-out 0.1s;
    -moz-transition: opacity 0.4s ease-in-out-out 0.1s;
    -o-transition: opacity 0.4s ease-in-out-out 0.1s;
    -ms-transition: opacity 0.4s ease-in-out-out 0.1s;
    transition: opacity 0.4s ease-in-out-out 0.1s;
}
.da-arrows-prev{
    background: url(../img/sprite.png) no-repeat 0px 0px;
    /*background-color: #02B3E9;*/
}
.da-arrows-next{
    background: url(../img/sprite.png) no-repeat -80px 0px;
    /*background-color: #02B3E9;*/
}
.da-arrows:hover .da-arrows span{
    opacity: 1;
}
.da-arrows span.da-arrows-next:after{
    background-position: top right;
}
.da-arrows span.da-arrows-prev{
    left: 15px;
}
.da-arrows span.da-arrows-next{
    right: 15px;
}
.row{
    position: relative;
}
#toTop,#fixed-btn{
    position: fixed;
    text-decoration: none;
    right: 10px;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
}
#toTop {
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: none;
    bottom: 50px;
    background: url(../img/top.png) no-repeat right top;
}

#fixed-btn{
    right:5px;
    display: block;
    bottom:10px;
    background: url(../img/qrcode.png) no-repeat right top;
    background-size: contain;
    cursor: pointer;
}

#bigCode{
    display: none;
    position: fixed;
    width: 200px;
    height: 300px;
    text-indent: 100%;
    right:50px;
    bottom: 0;
    background: url(../img/weixin.jpg) no-repeat right top;
    background-size: contain;
    border:0;
    z-index: 9999;
}
/* -------- Preloader Style ------- */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 999999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.status {
    width: 128px;
    height: 128px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../img/preloader.gif);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    margin: -70px 0 0 -70px;
}
.touxiang img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left:100px;
    top:50px;
}
